.landing {
    text-align: center;
    color: white;
    margin-top: 20%;
    
}

.title{
    background-color: gainsboro;
    height: 110%;
    width: 80% ;
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 12px;
}
.botton {
    width: 120px;
    height: 100px;
    background-color: grey;
    color: white;
    border: 5px solid white;
    border-radius: 10px;
    box-shadow: 5px 10px 10px rgb(255, 255, 255);
    cursor: pointer;

}

.botton:hover {
    color: black;
    background-color: white;
    box-shadow: black;
}